@charset "utf-8";

/*common*/

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #333;
}

a {
  text-decoration: none;  /*リンクに下線がつかないようになる*/
}

p {
  line-height: 2; /*行間の設定*/
}

.btn {
  display: inline-block; /*ブロックで囲う*/
  width: 290px;
  line-height: 45px;
  background: #fff;
  text-align: center; /*文字を中央に*/
  color: #f39800;
  border-radius: 5px; /*枠に丸みをもたせる*/
  opacity: 0.9; /*透明度*/
}

.btn:hover {
  opacity: 1;
}

img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 200, 200);
}

section {
  padding: 90px 0; /*上下に90px余白を作る*/
}

section:nth-child(odd) {
  background: #f8f8f8;
}

section .container {
  width: 820px;
  margin: 0 auto;
  /*padding-left: 50px;*/
}

section h2 {
  font-size: 26px;
  text-align: center;
  margin: 0 0 90px;
  font-weight: normal;
}

section:not(.call-to-action)
h2:after {
  /*content: '- title -';*/
  display: block;
  font-size: 18px;
  color: #aaa;
  padding-top: 10px;
}

/* header */

header {
  background: url('../img/sora.jpg');
  background-size: cover;
}

header .container {
  width: 820px;
  margin: 0 auto; /*←中央へ（画面サイズによって結構変わる）*/
  height: 320px;
  position: relative;
  overflow: hidden; /*はみ出した部分の非表示化*/
}

header h1, header p {
  color: #fff;
}

header p {
  padding-top: 50px;
}

header h1 {
  font-size: 34px;
  margin-bottom: 50px;
}

header img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* features */
.features h2:after {
  content: '- Featuers -';
}

.desc {
  width: 360px;
}

.pull-right {
  float: right; /*右に寄せる*/
  padding-left: 40px; /*左に40pxの余白を作る*/
}

.pull-left {
  float: left; /*左に寄せる*/
  padding-right: 40px; /*右に40pxの余白を作る*/
}

.row {
  overflow: hidden; /*はみ出た部分の削除*/
  margin-bottom: 90px;
}

.row:last-child {
  margin-bottom: 0;
}

.features h3 {
  font-size: 24px;
}

/* voices */
.voices h2:after {
  content: '- User Voices -';
}

.user img {
  border-radius: 50%; /*画像を丸くする*/
  border: 10px solid #fff; /*枠を作る*/
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -60px;
}

.user {
  background: #fff;
  width: 250px;
  box-sizing: border-box;
  padding: 65px 40px 26px;
  position: relative;
}

.user h3 {
  text-align: center;
}

.voices .container {
  display: flex; /*要素を横並びにさせるfloatでもできる*/
  justify-content: space-between; /*余白を均等に分散させる*/
}

.voices h2 {
  margin-bottom: 150px;
}

/* call-to-action */

.call-to-action {
  background: url('../img/sora.jpg');
  background-size: cover;
  text-align: center;
}

.call-to-action h2 {
  color: #fff;
  margin-bottom: 50px;
}

/* footer */

footer {
  padding: 90px 0;
  text-align: center;
  color: #ccc;
}
